.card-grid{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	grid-template-rows: 1fr;
}

.light-margin {
	margin: 4px;
}

.center-add-card-button {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.move-create-deck-button-right {
    display: flex;
    justify-content: right;
    padding: 10px;
}

.center-card {
    display: flex;
    justify-content: center;
}

.right-vertical-bar {
    border-right: 1px solid #0d6efd!important;
    margin: 20px;
}

.flashcard {
    display: flex;
    justify-content: center;
    background-color: azure;
    align-items: center;
}

.front {
    flex: 1;
}

.back {
    flex: 1;
}

.side-buttons {
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.deck-properties {
    display: flex;
    justify-content: end;
}

.study-card {
    display: flex;
    justify-content: center;
    align-items: center;
}